<h2 class="ui center aligned icon header">
  <%= image_tag("chats.png", class: "ui circular image", style: "width: 80px; height: 80px;") %>
  Live Chatroom
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed" id="message-stream">
          <h4 class="ui header">Message Stream</h4>
            <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
       <%= form_with model: @message, url: messages_path, class: "ui reply form", local: false do |f| %>
          <div class="field">
            <div class="ui action input">
              <%= f.text_field :body, placeholder: "Enter a message...", autocomplete: "off" %> 
              <%= f.button type: "submit", class: "ui blue icon button" do %>
                <i class="edit icon"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
